*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Google Services
google-services.json

# Build
/app/build
/website/.DS_Store

.gradle_local_override/
